<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/allusers.css">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/6d199754d2.js" crossorigin="anonymous"></script>
      <title>Document</title>
</head>

<body>
      <div class="mainbox">
            <div class="subbox" id="subbox">
                  
                  <div class="profile">
                        <img src="img/user/ameda.png" alt="">
                        <div class="username">Ameda Ram</div>
                        <p style="display: none;">3</p>
                        <p style="display: none;">ameda@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="amedaram">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/amit.png" alt="">
                        <div class="username">Amit Kumar</div>
                        <p style="display: none;">5</p>
                        <p style="display: none;">amit@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="amit">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/anuj.png" alt="">
                        <div class="username">Anuj Kumar Verma</div>
                        <p style="display: none;">4</p>
                        <p style="display: none;">anuj@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="anuj">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/rajat.png" alt="">
                        <div class="username">Rajat</div>
                        <p style="display: none;">2</p>
                        <p style="display: none;">rajat@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="rajat">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/sahil.png" alt="">
                        <div class="username">Md Sahil</div>
                        <p style="display: none;">1</p>
                        <p style="display: none;">sahil@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="sahil">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/sumit.png" alt="">
                        <div class="username">Sumit Soni</div>
                        <p style="display: none;">8</p>
                        <p style="display: none;">sumit@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="sumit">See Profile</button></div>
                  </div>
                  <div class="profile">
                        <img src="img/user/vikram.png" alt="">
                        <div class="username">Vikram</div>
                        <p style="display: none;">3</p>
                        <p style="display: none;">vikram@gmail.com</p>
                        <p style="display: none;">1234567890</p>
                        <div class="btn"><button class="myclass" id="vikram">See Profile</button></div>
                  </div>
            </div>
      </div>
      <div class="card" id="card">
                  <h2 style="text-align:center">User Profile Card<i class="fa-solid fa-xmark" onclick="removeCard()"></i></h2>
                  <img src="" alt="User" style="width:100%">
                  <h1>John Doe</h1>
                  <p class="title">CEO & Founder, Example</p>
                   <p class="email" style="margin: 7px 0px;"></p>
                   <p class="phone"></p>
                  <p><button>Keep Donating</button></p>
      </div>
      <script src="js/allusers.js"></script>
</body>

</html>


