<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/allusers.css">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/6d199754d2.js" crossorigin="anonymous"></script>
      <title>Document</title>
</head>

<body>
      <div class="mainbox">
            <div class="subbox" id="subbox">
                   
            </div>
      </div>
      <div class="card" id="card">
                  <h2 style="text-align:center">User Profile Card<i class="fa-solid fa-xmark" onclick="removeCard()"></i></h2>
                  <img src="" alt="John" style="width:100%">
                  <h1>John Doe</h1>
                  <p class="title">CEO & Founder, Example</p>
                   <p class="email" style="margin: 7px 0px;"></p>
                   <p class="phone"></p>
                  <p><button>Keep Donating</button></p>
            
      </div>
      <script src="js/allusers.js"></script>
</body>

</html>


