<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/home.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />
            <script src="https://kit.fontawesome.com/6d199754d2.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <title>Home</title>
</head>

<body>
      <div class="fulldisplay">
            <div class="mainbox">
                  <div class="nav2">
                        <h1>Welcome</h1>
                  </div>
                  <div class="kali_patti"></div>
                  <div class="topbar-right">
                        <div class="line-container">
                              <div class="line line-1"></div>
                              <div class="line line-2"></div>
                              <div class="line line-3"></div>
                        </div>
                  </div>
                  <div class="menu">
                        <div class="menu-top">
                              <div class="menu-search">
                                   <p style="color: #f35c86;">Hello Donars</p> 
                              </div>
                        </div>
                        <div class="menu-center">
                              <div class="menu-item">
                                    <i class="fas fa-home"></i>
                                    <span><a style="text-decoration: none;" href="/">Home</a></span>
                              </div>
                              <div class="menu-item">
                              <i class="fa-solid fa-hand-holding-medical"></i>
                                    <span><a style="text-decoration: none;" href="/donate">Donate</a></span>
                              </div>
                              <div class="menu-item">
                                    <i class="fa-solid fa-photo-film"></i>
                                    <span><a style="text-decoration: none;" href="/post">Show Off</a></span>
                              </div>
                              <div class="menu-item">
                                    <i class="fas fa-users"></i>
                                    <span><a style="text-decoration: none;cursor: pointer;" href="/allusers">All Donars</a></span>
                              </div>
                              <div class="menu-item">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <span><a style="text-decoration: none;cursor: pointer;" onclick="logout()">LogOut</a></span>
                              </div>
                        </div>
                        <div class="menu-bottom">
                              <div class="menu-bottom-user">
                                    <a href="/update"><img id="userimg2" src=""
                                          alt="User" loading="lazy"></a>
                                    <span > <a class="st" href="/update" id="username2">Deepak Suthar</a> </span>
                              </div>
                              <i class="far fa-question-circle"></i>
                        </div>
                  </div>



                  <div class="navbar">
                        <div class="profile">
                              <a class="st" href="/update"><img src="" id="userimg" alt=""></a>
                              <a style="text-decoration: none;" href="/update">
                                    <h3 id="username" style="color:#838383;margin-left: 10px;">
                                    </h3>
                              </a>
                        </div>
                        <ul>
                              <li> <a style="text-decoration: none;" href="/">Home</a></li>
                              <li> <a style="text-decoration: none;" href="/donate">Donate</a></li>
                              <li> <a style="text-decoration: none;" href="/post">Show Off</a></li>
                              <li> <a style="text-decoration: none;cursor: pointer;" href="/allusers">All Donars</a>
                              </li>
                              <li> <a style="text-decoration: none;cursor: pointer;" onclick="logout()">LogOut</a></li>
                        </ul>
                  </div>
                  <div class="middle">
                        <div class="doctor">
                              <img src="img/doctor.png" alt="">
                        </div>
                        <div class="workspace">
                              <h1 style="margin-top: 14%; font-size: 22px;    margin-bottom: 33px; ">
                                    <span style="color: #f35c86;">Blood</span> Donation Meter
                              </h1>
                              <div class="meter" id="meter">

                                    <h2 class="firsttime">You Never Donate <span style="color: #f35c86;">Blood</span></h2>
                                    <p>Please Donate</p>

                              </div>
                        </div>
                  </div>
                  <div class="bottom">
                        <img src="img/bottom.png" alt="">
                  </div>
            </div>
      </div>
      <!-- <div>
            your gender is: <%=data.me.gender%>
      </div>
      <div class="container" style="color: black;">
            <%for(var i=0;i<data.alluser.length;i++){%>
                  <a href="/user/<%=data.alluser[i]._id%>">
                        <%=data.alluser[i].username%>
                  </a>

                  <button><a href="/update/<%=data.alluser[i]._id%>" onclick="msz()">Update</a></button>

                  <a class="btn border-shadow delete" data-id=<%=data.alluser[i]._id%> >
                        <span class="text-gradient"><i class="fas fa-times">delete</i></span>
                  </a><br>
                  <%}%>

      </div> -->
      <script src="js/home.js"></script>
      <script>
                  const lineContainer = document.querySelector(".line-container");
                  const menu = document.querySelector(".menu");
                  const kalli = document.querySelector(".kali_patti");
                  lineContainer.addEventListener("click", () => {
                        lineContainer.classList.toggle("active");
                        menu.classList.toggle("active");
                        kalli.classList.toggle("active");
                  });

      </script>
</body>

</html>