<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://kit.fontawesome.com/6d199754d2.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/login.css">
</head>

<body class="">
      <div class="blackbox" id="blackbox">
            <p style="font-size: 40px;font-family: 'Courier New', Courier, monospace; color:white;line-height: 1.8;">we
                  are preparing data...</p>
            <!-- <p class="rotateit"><i  style="font-size: 40px; color:white" class="fa-solid fa-spinner"></i></p> -->

      </div>
      <div class="limiter">
            <div class="container-login100">
                  <div class="wrap-login100">
                        <form class="signin-form login100-form validate-form" id="myform">
                              <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                    <input type="text" class="myinput input100" name="name" id="name" required>
                                    <span class="focus-input100" data-placeholder="Name"></span>
                              </div>
                              <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                    <input type="email" class="myinput input100" name="email" id="email" required>
                                    <span class="focus-input100" data-placeholder="Email"></span>
                              </div>
                              <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                    <input type="password" name="password" id="password" class="myinput input100"
                                          required>
                                    <span class="focus-input100" data-placeholder="Password"></span>
                              </div>
                              <div class="image">
                                    <input type="file" style="display: none;" name="img" id="img" style="display: none;">
                                    <label for="img" id="label">Select Profile Photo<i
                                                class="fa-regular fa-image"></i></label>
                                    <div id="cancel" style="display: none;font-size: 21px;margin-left: 10px;padding-bottom: 10px;"><i onclick="cancelimg()" class="fa-solid fa-xmark"></i></div>
                                    <div class="demoimg"><img src="" alt="" id="demoimg"></div>
                              </div>
                              <div class="gender form-group">
                                    <input class="round" type="radio" name="gender" checked value="Male">Male
                                    <input class="round" type="radio" name="gender" value="Female">Female
                                    <input class="round" type="radio" name="gender" value="other">Other
                              </div>
                              <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                          <div class="login100-form-bgbtn"></div>
                                          <button class="login100-form-btn" id="signupbtn">
                                                SignUp
                                          </button>
                                    </div>
                              </div>
                              <div class="form-group" id="help">
                                    <div class="w50">
                                          <div class="round">
                                                <input type="checkbox" id="checkbox" value="yes"
                                                      checked /><span>Remember Me</span>
                                          </div>
                                    </div>
                                    <div class="w50">
                                          <a href="#" style="color: #fff">Forgot Password</a>
                                    </div>
                              </div>
                        </form>
                        <p style="width: 100% !important;color: rgb(0, 0, 0); text-align: center !important;">— Or
                              Sign In With Old account?
                              —</p>
                        <div class="container-login100-form-btn" onclick="tologin()">
                              <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"
                                          style="background: linear-gradient(90deg, #ff6d6d, #fff472, #ff6d6d, #fff472);">
                                    </div>
                                    <button class="login100-form-btn" id="signupbtn">
                                          LogIn
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div id="dropDownSelect1"></div>
      <script src="js/login.js"></script>
</body>

</html>