<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://kit.fontawesome.com/6d199754d2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/post.css">
</head>

<body><noscript>please enable java scropt</noscript>
      <div id="root">
            <div class="homeContainer">
                  <div class="article">
                        <img src="img/login_page.png" alt="">
                  </div>
                  <div class="feed">
                        <!-- <button onclick="logout()">logout</button>
                        <button onclick="alluser()" id="btnAllUser">All User</button> -->
                        <div class="feedWrapper" id="alluserimg">
                              <div class="share">
                                    <div class="shareWrapper">
                                          <div class="shareTop">
                                                <img class="shareProfileImg" src="" id="myimg" alt="">
                                                <p id="email">storing item</p>
                                                <p id="password">storing item</p>
                                          </div>
                                          <hr class="shareHr">
                                          <form class="shareBottom">
                                                <div class="shareOptions"><input type="file" id="file"
                                                            accept=".png,.jpeg,.jpg"></div><button class="shareButton"
                                                      type="submit">Post</button>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>

            </div>
      </div>
      <script src="js/post.js"></script>
</body>

</html>