<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="../static/css/signup.css" type="text/css">
</head>

<body>
      <!-- <h1 style="color: black;"></h1>
      <form action="/user_data" method="post"   id="myform">
            <input type="text" name="name" id="name" class="myinput" placeholder="Enter the Name">
            <input type="email" name="email" id="email" class="myinput" placeholder="Enter The Email">
            <input type="color" name="color" id="color" class="myinput">
            <input type="submit" value="submit" class="myinput">
      </form> -->
      <div class="mainbox">
            <div class="subbox">
                  <div class="imagebox">
                        <div class="textbox" id="textbox">
                              Welcome
                        </div>
                        <img src="img/login_page.png" alt="">
                  </div>
                  <div class="superformbox">
                        <h2 style="padding-top: 30px;">Welcome</h2>
                        <div class="formbox">
                              <p style="font-size: 20px;padding-top: 30px;">Take a Step to Donate <span
                                          style="color: red;">Blood</span>
                              </p>
                              <form action="/user_data" method="post" id="myform" ">
                                    <input type=" text" name="name" id="name" class="myinput"
                                    placeholder="Enter the Name"><br>
                                    <input type="email" name="email" id="email" class="myinput"
                                          placeholder="Enter The Email"><br>
                                    <input type="password" name="password" id="password" class="myinput"
                                          placeholder="Set The password"><br>
                                    <div class="gender">
                                          <input type="radio" name="gender" checked value="Male">Male
                                          <input type="radio" name="gender" value="Female">Female
                                          <input type="radio" name="gender" value="other">Other
                                    </div>
                                     
                                    <br>

                                    <input type="submit" value="Login" class="submit">
                                    <input type="submit" value="SignUp" class="submit">

                              </form>
                        </div>
                  </div>
            </div>
      </div>

      <script src="js/signup.js"></script>
</body>

</html>