<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Update</title>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/update.css" type="text/css">
</head>
<body>
      <div class="mainbox">
            <div class="subbox">
                  <div class="superformbox">
                        <h2 style="padding-top: 30px;">Keep Donating</h2>
                        <div class="formbox">
                              <p style="font-size: 20px;padding-top: 30px;">Update Your Data</p>
                              <form id="myform">
                                    <input type=" text" name="name" id="name" class="myinput"
                                          placeholder="Enter the Name"><br>
                                    <input type="email" name="email" id="email" class="myinput"
                                          placeholder="Enter The Email">
                                    <input type="password" name="password" id="password" class="myinput"
                                          placeholder="Enter Your old password..."><br>
                                          <div class="gender" id="gender">
                                                <input type="radio" name="gender" value="Male">Male
                                                <input type="radio" name="gender" value="Female">Female
                                                <input type="radio" name="gender" value="other">Other
                                          </div>
                                          <br>
                                    <input type="submit" value="Update" class="submit">
                              </form>
                        </div>
                  </div>
            </div>
      </div>
      <script src="js/update.js"></script>
</body>

</html>