 *,
 *::before,
 *::after {
       box-sizing: border-box;
       overflow-x: hidden;
 }

 body {
       display: block;
       font-family: "Lato", Arial, sans-serif;
       font-size: 16px;
       line-height: 1.8;
       font-weight: normal;
       color: gray;
       position: relative;
       z-index: 0;
       padding: 0;
       background-image: url(../img/bg.jpg);
       height: 755px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       text-align: left;
       background-color: #fff;
       background-attachment: fixed;
 }

 .mysection {
       padding: 3em 0;
 }

 .container {
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
       margin-right: auto;
       margin-left: auto;
 }

 @media (min-width: 576px) {
       .container {
             max-width: 540px;
       }
 }

 .box1 {
       -webkit-box-pack: center !important;
       justify-content: center !important;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
 }

 .mindiv1 {
       margin-bottom: 1rem !important;
       text-align: center !important;
       position: relative;
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
 }

 .heading-section {
       font-size: 28px;
       color: #fff;
       line-height: 1.5;
       font-weight: 400;
       font-family: "Lato", Arial, sans-serif;
 }

 .mindiv2 {
       position: relative;
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
 }

 .haveaccount {
       margin-bottom: 3.5rem !important;
       text-align: center !important;
 }

 form {
       display: block;
       margin-top: 0em;
 }

 .form-group {
       position: relative;
       margin-bottom: 1rem;
 }

 .myinput {
       width: 100%;
       height: 50px;
       color: rgb(0, 0, 0) !important;
       border: 1px solid transparent;
       background: rgba(255, 255, 255, 0.5);
       border-radius: 40px;
       padding-left: 20px;
       padding-right: 20px;
       transition: 0.3s;
       padding: 0.375rem 0.75rem;
       font-size: 1rem;
       font-weight: 400;
       line-height: 1.5;

       outline: none;
 }

 .myinput:hover {
       background: rgb(255, 255, 255);
       outline: none;
       box-shadow: none;
       border-color: rgba(255, 255, 255, 0.4);
 }

 button,
 input {
       overflow: visible;
 }

 input,
 button,
 select,
 optgroup,
 textarea {
       margin: 0;
       font-family: inherit;
 }

 .signbtn {
       background: #ffb991;
       border: 1px solid #ffb991 !important;
       color: #000 !important;
       box-shadow: none !important;
       font-size: 15px;
       text-transform: uppercase;
       border-radius: 40px;
       padding-left: 1rem !important;
       padding-right: 1rem !important;
       display: inline-block;
       font-weight: 400;
       text-align: center;
       vertical-align: middle;
       padding: 0.375rem 0.75rem;
       line-height: 1.5;
       user-select: none;
       outline: none;
 }

 .signbtn:hover {
       background-color: #fdd1b7;
       cursor: pointer;
 }

 .w50 {
       width: 50% !important;
 }

 .social {
       width: 100%;
       text-align: center !important;
       display: flex !important;
       justify-content: space-around;
 }

 .social a {

       display: block;
       border: 1px solid rgba(255, 255, 255, 0.4);
       color: #000;
       background: #fff;
       padding-left: 0.5rem !important;
       padding-top: 0.25rem !important;
       padding-bottom: 0.25rem !important;
       border-radius: 0.25rem !important;
 }

 #help {
       display: flex;
 }

 .social a:hover {
       background: #000;
       color: #fff;
       border-color: rgb(23, 23, 23);
 }

 .socialbtn {
       width: 40%;
 }

 a {
       transition: .3s all ease;
       text-decoration: none;
 }

 a:hover {
       text-decoration: none !important;
       outline: none !important;
       box-shadow: none;
 }



 .round {
       position: relative;
       overflow: hidden;
 }

 .round label {
       background-color: #fff;
       border: 1px solid #ccc;
       border-radius: 50%;
       cursor: pointer;
       height: 28px;
       left: 0;
       position: absolute;
       top: 0;
       width: 28px;
 }

 .round label:after {
       border: 2px solid #fff;
       border-top: none;
       border-right: none;
       content: "";
       height: 6px;
       left: 7px;
       opacity: 0;
       position: absolute;
       top: 8px;
       transform: rotate(-45deg);
       width: 12px;
 }

 .round input[type="checkbox"] {
       visibility: hidden;
 }

 .round input[type="checkbox"]:checked+label {
       background-color: #ffb991;
       border-color: #ffb991;
 }

 .round input[type="checkbox"]:checked+label:after {
       opacity: 1;
 }

 .remeber {
       color: white;
       position: absolute;
       top: -15px;
       left: 35px;
 }

 .rotateit i {
       animation-name: rotate;
       animation-duration: 1s;
       animation-timing-function: linear;
       animation-iteration-count: infinite;
       margin-top: 2px;
       font-size: 31px;
 }

 @keyframes rotate {
       0% {
             transform: rotate(0deg);
       }

       100% {
             transform: rotate(360deg);
       }
 }


 .gender {
       font-size: 20px;
       color: white;
 }

 