@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
      margin: 0;
      padding: 0;
      transition: all;
      transition-duration: 0.5s;
}

.mainbox {
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(48deg, #f9a6a7, #ab94d9);
      overflow: hidden;

}

.subbox {
      width: 55%;
      height: 80%;
      margin: auto;
      background-color: white;
      margin-top: 5%;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      box-shadow: 0px 0px 20px 1px #7a7a7a;
}


.imagebox {
      width: 33%;
      height: 100%;
}

.imagebox img {
      width: 100%;
      height: 100%;
}

.textbox {
      position: absolute;
      top: 20%;
      left: 16%;
      font-family: 'Amatic SC', cursive;
      font-size: 48px;
}

.superformbox {
      width: 100%;
      height: 100%;
      text-align: center;
}

.formbox {
      width: 70%;
      margin: auto;
      /* border: 1px solid black; */
      height: 80%;
      border-radius: 5px;
      box-shadow: 0px 11px 13px 0px #ffd2d7;
      /* margin-top: 7%; */
      text-align: center;
}

.formbox:hover {
      box-shadow: 0px 7px 10px 7px #ffd2d7;
}

#myform .myinput {
      width: 80%;
      height: 33px;
      margin-top: 44px;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      color: #0043ff;
}

#myform .myinput::placeholder {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
}

#myform .myinput:hover {
      border-bottom: 1px dotted rgb(0, 0, 0);
}

.gender {
      margin-top: 40px;
}

.gender input {
      margin-left: 12px;
      margin-right: 2px;
}

.submit {
      width: 32%;
      height: 28px;
      margin-top: 25px;
      font-size: 16px;
      border: none;
      background-image: linear-gradient(90deg, #fa6c9e, #ffe456);
      /* box-shadow: 0px 0px 6px -2px black; */
      border-radius: 17px;
      color: white;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 600;
}

.submit:hover {

      /* background-color: #2196F3; */
      width: 34%;
      height: 35px;
      font-size: 18px;
      margin-top: 23px;
      box-shadow: 0px 4px 6px 0px #fdab78
}